@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

$color-1: #FAFAFF;
$color-2: #48484A;


body {
  background-color: $color-1;
  color: $color-2;
}

.jumbotron {
  background-color: $color-1;
}

.card {
  background-color: $color-1;
  border-color: $color-2;
    .list-group-item {
      @extend .card
    }
}
